<%-include("header")-%>
 <div class="heading container-fluid col-lg-4 col-md-9 col-sm-9">
<h1><%=dayOfWeek%></h1>
 </div>
 <div class="inputarea container-fluid col-lg-3 col-md-9 col-sm-9">
<form action="/" method="post">
<input class="form-control col-lg-6 col-md-9 col-sm-9" id="todoinput" type="text" name="todoinput" placeholder="Enter Your Todo here">
<button class="submit btn btn-danger" name="submitButton" type="submit" value="<%=dayOfWeek %>" >+</button>
</form>
</div>
<div class="container-fluid col-lg-12 col-md-9 col-sm-9">
<ul class="list-group">
    <%newItem.forEach(function(todo){%>
      <div class="form-check">
        <form action="/delete" method="post">
          <input id="checkbox" name="checkbox" value="<%=todo._id%>" class="form-input-checkbox" type="checkbox" onChange="this.form.submit()">
          <li id="todo" class="list-group-item col-lg-4"><%=todo.todo%></li>
          <input type="hidden" name="checkbox2" value="<%=dayOfWeek%>"></input>
        </form>
      </div>
    <%});%>
</ul>
</div>
<div class=""container-fluid>
<footer class="container-fluid">
<p>&copy <a href="https://www.sourabhchoudhary.live">sourabhchoudhary.live</a>
</footer>
</div>
<%-include("footer")-%>
